.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #eddfa3 ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0; 
  animation: fade-in 1s ease-in-out forwards; /* Aplica la animación fade-in */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fraseLanding {
  color: #181818;
  /* text-shadow: 2px 1px 1px  #f6f7f3;  */
  font-size: 2rem;
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  align-items: center;
  z-index: 0;
}

@media (max-width: 768px) {
  .fraseLanding {
    width: 90%;
    margin-top: 8vw;
    margin-top: -15vw;
    align-items: center;
  }  
}

@media (max-width: 480px) {
  .fraseLanding {
    font-size: 18px;
    margin-top: -15vw;
    align-items: center;
  }  
}