.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #ececec ;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -2;
  opacity: 0; 
  animation: fade-in 1s ease-in-out forwards; 
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fraseLanding {
  color: #767a7f;
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: 'MADE Mirage';
  align-items: center;
  z-index: 0;
}

@media (max-width: 768px) {
  .fraseLanding {
    width: 90%;
    margin-top: 8vw;
    margin-top: -15vw;
    align-items: center;
  }  
}

@media (max-width: 480px) {
  .fraseLanding {
    font-size: 1rem;
    margin-top: -15vw;
    align-items: center;
  }  
}