.login-container {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right,  #d8d8da  50%, #f8f8f5  50%);
  position: absolute;
  margin: 0;
}

.nombre-image {
  position: absolute;
  top: 5%;
  left: 5%;
  height: 13%;
}

.hola {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem; 
  color: #aaaaaa;
  text-shadow: 4px 1px 1px  #f6f7f3; 
  text-align: center;  
}

@media (max-width: 480px) {
  .login-container {
    align-items: flex-start;
  }

  .planetLogin-image {
    height: 20vh;
    width: 100%;
  }  
 
  .hola {
    font-size: 3rem; 
  }
}
