.login-container {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
  /* background: linear-gradient(to right,  #d8d8da  50%, #f8f8f5  50%); */  
  background-image: url(../assets/piramidesLogin.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  margin: 0;
  opacity: 0; /* Inicia con opacidad 0 */
  animation: fade-in 2s ease-in-out forwards;
  /* opacity: 1;
  animation: fade-in 2s ease-in-out; */
}

.login-container.hidden {
  opacity: 0;
  pointer-events: none; /* Evitar interacciones en el elemento oculto */
}

.fading {
  animation: fading 3s ease-in-out;
}


@keyframes fading {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.nombre-image {
  font-size: 1.5rem; 
  position: absolute;
  top: 6%;
  left: 5%;
  }

.hola {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem; 
  color: #767a7f;
  text-align: center;  
}

@media (max-width: 480px) {
  .login-container {
    align-items: flex-start;
  }

  .nombre-image {
    font-size: 1rem; 
    top: 3%; 
    left: 3%; 
  }

.hola {
    font-size: 3rem; 
  }

  .login-container {
  background-image: url(../assets/piramidesLogin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;  
}
}