body {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  background-color: #ececec;
}

.background {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  width: 100vw;
  height: auto; 
  background-color: #ececec;
  position: absolute;
  z-index: -1;
  margin: 0;
  opacity: 0; 
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.containerJob {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  margin-top: 2vw;     
}

.trabajo-container {
  font-family: 'MADE Mirage', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: rgba(250, 250, 250, 0);  
  padding: 10vw;  
}

.image-container {
  position: relative;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
 }

.image-color,
.image-gris {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.image-gris {
  opacity: 1;
  z-index: 1;
}

.image-color {
  opacity: 0;
  z-index: 2;
}

.image-container:hover .image-gris {
  opacity: 0;
}

.image-container:hover .image-color {
  opacity: 1;
}

.tituloProyectos {
  color: #767a7f; 
  font-size: 1.5rem; 
  padding-top: 25%;  
 }

.image-gris-proximamente {
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.footer {
  height: 20vh;
}

.scroll-button {
  /* background-image: url(../assets/flecha1.png); */
  background-image: url(../assets/flecha2.png); 
  background-size: contain; 
  background-repeat: no-repeat;
  width: 3vw; 
  height: 3vw; 
  position: fixed;
  left: 50%;
  bottom: 1vw;
  cursor: pointer;
  transition-duration: 1s;
  z-index: 2;
}

.scroll-button:hover {
  background-image: url(../assets/flecha2Hover.png);
  transition-duration: 1s;
}


@media (max-width: 768px) {

   
  .trabajo-container {
    padding: 10vw; 
    margin: auto; 
    background-color: #8edf0d;
    margin-left: 35%;
  }

  .tituloProyectos {
    color: #767a7f; 
    font-size: 1.2rem; 
    padding-top: 35%;  
   }

  .containerJob {
    margin-top: 10%;   
    width: 75%;    
  }
  
  
 /*  .footer {
    padding: 40%;
    
  }  */ 
}

@media (max-width: 480px) {
    
  .tituloProyectos {
    color: #767a7f; 
    font-size: 0.8rem; 
    padding-top: 35%;  
   }  
}

